.navbar img{
    width: 100%;
    height: 100%;
}

.navbar div {
    padding: 0px;
    height: 60px;
}

.navbar p {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fafbfc;
}

.navbar .navrow .department {
    background-color: #92979b80;
}

.navbar .catagory {
    background-color: #0f101157;
}

.navbar .search {
    background-color: #0c0c0c8f;
}

.navbar {
    margin-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
