.right-image-container {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.right-image-container .left {
  position: relative;
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-image-container .left .title {
  position: relative;
  width: 100%;
  height: 20%;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--border-color);
  text-align: center;
}

.right-image-container .left .content {
  position: relative;
  width: 100%;
  height: 60%;
  font-size: 1.2em;
  color: var(--word-color);
  text-align: center;
}

.right-image-container .right {
  position: relative;
  width: 40%;
  height: 100%;
  padding-right: 5%;
}

.right-image-container .right img {
  position: relative;
  width: 100%;
  height: 100%;
}
